.page-main {
  transition: margin-left 0.5s;

  @media (min-width: $tablet) {
    &--menu-toggle {
      margin-left: 250px;
    }
  }

  @media (min-width: $desktop) {
    margin-left: 250px;

    &--menu-toggle {
      margin-left: 0;
    }
  }
}
