.sidebar {
  @include reset-list;
}

.sidebar__item {
  padding: 10px 20px;
  width: 250px;
}

.sidebar__link {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  color: $white;
  transition: 0.3s;
  outline: none;

  &:hover,
  &:focus {
    color: $orange;
  }
}
