@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-regular.woff2"),
    url("../fonts/raleway-regular.woff"),
    url("../fonts/raleway-regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}